.mainPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 35px;
    padding: 20px;
}

h2 {
    width: 280px;
    font-size: 18px;
    font-weight: 700;
    font-family: Verdana, sans-serif;
}

@media screen and ( min-width: 768px) {

    h2 {
        width: 704px;
        font-size: 34px;
    }

    .mainPage {
        justify-content: flex-start;
        align-items: flex-start;
        width: 704px;
        margin: 100px 32px
    }
    
}

@media screen and (min-width: 1280px) {
    .desktopFormButton {
        margin-left: 300px;
    }
}