.navigation {
    display: flex;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

li {
    list-style: none;

}

ul a {
    font-size: 14px;
    font-family: Verdana, sans-serif;
    font-weight: 700;
    color: #9B9FAA;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.horizontalLine {
    border: 2px solid #E0E0E0;
    width: 100%;
    display: block;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}


.startWord {
    font-size: 16px;
    font-weight: 700;
    font-family: verdana, sans-serif;
    display: none;
    color: black;
}

.slimmingWord {
    color: orange;
}

.logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


@media screen and ( min-width: 768px ) {
       .navigation {
        width: 100%;
        justify-content: space-between;
       }

       ul {
        margin: 20px 32px;
       }

       .startWord {
        display: block; 
       }

}

@media screen and (min-width: 1280px) {
     

    .navigation {
        justify-content: flex-start;
    }

    .verticalLine {
        border-right: 2px solid #E0E0E0;
        height: 32px;
    }

    ul {
        padding: 0px;
        margin: 0px;
    }

    .navWrapper {
        margin-top: 80px;
    }
    
    .horizontalLine {
        display: none;
    }



}